* {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
  background-color: #fff7ed;
  font-family: "inter", sans-serif;
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}
div.site-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
header {
  height: 110px;
  display: flex;
  align-items: center;
  padding-block: 10px;
  a.site-logo {
    color: black;
    margin-right: auto;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 25px;
  }
  nav {
    display: flex;
    a {
      text-decoration: none;
      color: #4d4d4d;
      font-weight: 600;
      padding: 5px 20px;
      &:hover {
        color: #161616;
        text-decoration: underline;
      }
      &.login-link {
        display: inline-flex;
        align-items: center;
        img.login-icon {
          height: 18px;
          width: 18px;
        }
      }
    }
  }
  button {
    border-radius: 50%;
    background-color: unset;
    border: none;
    svg {
      height: 1.5rem;
      width: 1.5rem;
      stroke-width: 0.3px;
    }
  }
}
a.link-button,
button.link-button {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  border: none;
  padding: 0.75rem 1.375rem;
  color: initial;
  font-weight: 700;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.1s ease-in-out;
  &:hover {
    transform: translate(1px, 1px);
  }
}
a.back-button {
  display: block;
  color: black;
  text-decoration: none;
  margin-left: 26px;

  span {
    &:hover {
      text-decoration: underline;
    }
  }
}

main {
  margin-bottom: 84px;
}

footer {
  background-color: #161616;
  color: #aaaaaa;
  height: 74px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: auto;
  flex-shrink: 0;
}
/*** ABOUT HOME START ***/
div.home-container {
  background: linear-gradient(0deg, rgba(0 0 0 / 0.46), rgba(0 0 0 / 0.46)),
    url("./assets/images/home-hero.png") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 350px;
  color: white;
  padding: 45px 23px;

  h1 {
    font-weight: 700;
    font-size: 2.25rem;
    line-height: 42px;
  }
  p {
    line-height: 24px;
  }
  a {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    background-color: #ff8c38;
    border: none;
    width: 100%;
    margin-top: 27px;
    padding-block: 0.75rem;
    color: white;
    font-weight: 700;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.1s ease-in-out;
    &:hover {
      transform: translate(1px, 1px);
    }
  }
}
/*** ABOUT HOME END ***/

/*** ABOUT PAGE START ***/
div.about-page-container {
  img.about-hero-image {
    max-width: 100%;
  }
  div.about-page-content {
    padding-inline: 23px;
    color: #161616;
    margin-bottom: 55px;
    h1 {
      line-height: 38px;
    }

    p {
      line-height: 22px;
    }
  }
  div.about-page-cta {
    background-color: #ffcc8d;
    color: #161616;
    padding-inline: 32px;
    padding-bottom: 32px;
    margin-inline: 27px;
    border-radius: 5px;

    h2 {
      margin: 0;
      padding-block: 37px;
    }
    a.link-button {
      background-color: #161616;
      color: white;
      border-radius: 10px;
    }
  }
}
/*** ABOUT PAGE END ***/

/*** START VANS PAGE ***/
div.van-list-container {
  padding-inline: 23px;
  div.van-list-filter-buttons {
    display: flex;
    flex-wrap: wrap;
    button {
      margin-right: 15px;
    }
  }
  div.van-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    gap: 34px;
    margin-top: 57px;
    div.van-tile {
      a {
        text-decoration: none;
        color: #161616;
      }
      img {
        max-width: 100%;
        border-radius: 5px;
      }
    }
  }
}
i.van-type,
button.van-type {
  height: 34px;
  padding: 6px 26px;
  font-style: normal;
  font-weight: 500;
  border: none;
  border-radius: 5px;
  background-color: #ffead0;
  color: #4d4d4d;
  transition: 0.2s all cubic-bezier(0.4, 0, 0.2, 1);
  &:hover {
    color: #ffead0;
  }
  &:focus {
    outline: none;
  }
  &.selected {
    color: #ffead0;
  }
  &.simple:hover,
  &.simple.selected {
    background-color: #e17654;
  }
  &.rugged:hover,
  &.rugged.selected {
    background-color: #115e59;
  }
  &.luxury:hover,
  &.luxury.selected {
    background-color: #161616;
  }
  .van-type.luxury:hover,
  .van-type.luxury.selected {
    background-color: #161616;
  }

  &.clear-filters {
    margin-left: -20px;
    height: 34px;
    padding: 6px 26px;
    font-style: normal;
    font-weight: 500;
    border: none;
    border-radius: 5px;
    text-decoration: underline;
    background-color: transparent;
    color: #4d4d4d;
  }
}
i[class*="`van-type`"] {
  padding: 7px 14px;
}
/*** END VANS PAGE ***/

/*** START VAM DETAIL ***/
div.van-detail-container {
  padding: 27px;
  .back-button {
    color: black;
    text-decoration: none;
    span {
      text-decoration: underline;
    }
  }
  div.van-detail {
    display: flex;
    flex-direction: column;
    color: #161616;
    img {
      border-radius: 5px;
      margin-block: 47px;
    }
    h2 {
      font-size: 2rem;
      margin-top: 10px;
    }
    > i {
      align-self: flex-start;
    }
    p.van-price {
      font-weight: 700;
      font-size: 1.5rem;
    }
    button.link-button {
      background-color: #ff8c38;
      color: white;
      font-size: 1.125rem;
    }
  }
}
/*** END VAM DETAIL ***/

/*** START HOST NAV ***/
nav.host-nav {
  display: flex;
  a {
    text-decoration: none;
    color: #4d4d4d;
    font-weight: 500;
    padding: 5px 20px;
    &:hover {
      color: #161616;
      text-decoration: underline;
      font-weight: 600;
    }
  }
}
/*** END HOST NAV ***/

/*** START HOST VANS SECTION ***/
section.host-vans {
  h1.host-vans-title {
    padding-inline: 26px;
  }
  div.host-vans-list {
    padding-inline: 26px;
    a.host-van-link-wrapper {
      color: unset;
      text-decoration: unset;
      div.host-van-single {
        display: flex;
        align-items: center;
        background-color: white;
        margin-bottom: 15px;
        padding-block: 18px;
        padding-left: 24px;
        > img {
          height: 160px;

          border-radius: 5px;
          margin-right: 20px;
        }
        > div.host-van-info {
          h3 {
            font-size: 20px;
            font-weight: 600;
            margin-block: 10px;
          }
          p {
            margin-block: 10px;
          }
        }
      }
    }
  }
}
/*** END HOST VANS SECTION ***/

/*** START HOST VAN DETAIL ***/
div.host-van-detail-layout-container {
  background-color: white;
  padding: 24px;
  margin: 30px 26px;
  div.host-van-detail {
    display: flex;
    align-items: center;
    > img {
      height: 160px;

      border-radius: 5px;
      margin-right: 20px;
    }
    div.host-van-detail-info-text {
      h3 {
        margin-top: 24px;
        margin-bottom: 5px;
        font-size: 26px;
        font-weight: 700;
      }
      H4 {
        font-size: 20px;
        margin-block: 0;
      }
    }
  }
  nav.host-van-detail-nav {
    display: fkex;
    margin-block: 25px;
    a {
      text-decoration: none;
      color: #4d4d4d;
      font-weight: 500;
      padding: 5px 20px;
      &:first-of-type {
        margin-left: -15px;
      }
      &:hover {
        text-decoration: underline;
        font-weight: 700;
        color: #161616;
      }
    }
  }
  section.host-van-detail-info {
    h4 {
      font-size: 14px;
      font-weight: 700;
      line-height: 21px;
    }
    span {
      font-weight: 500;
    }
  }
  h3.host-van-price {
    font-size: 24px;
    font-weight: 500;
    span {
      font-size: 16px;
      color: #4d4d4d;
    }
  }
  img.host-van-image {
    height: 100px;
    width: 120px;
    border-radius: 5px;
  }
}
/*** END HOST VAN DETAIL ***/

/*** START NOT FOUND PAGE ***/
div.not-found-container {
  padding-inline: 26px;
  a.link-button {
    width: 100%;
    background-color: #161616;
    color: white;
  }
}
/*** END NOT FOUND PAGE ***/

/*** START LOGIN PAGE ***/
div.login-container,
div.register-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-inline: 27px;
  form.login-form,
  form.register-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 500px;
    input {
      border: 1px solid rgba(209, 213, 219);
      height: 40px;
      text-indent: 10px;
      font-family: "Intre", sans-serif;
      box-shadow: 0px 1px 2px rgba(0 0 0 / 0.05);
      &:focus {
        outline: none;
      }
      &:first-of-type {
        border-radius: 6px 6px 0px 0px;
      }
      &:last-of-type {
        border-radius: 0px 0px 6px 6px;
      }
    }
    button {
      background-color: #ff8c38;
      border: none;
      border-radius: 6px;
      margin-top: 22px;
      color: white;
      font-family: "Inter", sans-serif;
      height: 40px;
    }
  }
}
/*** END LOGIN PAGE ***/

/*** START PROFILE PAGE ***/
div.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
  div.profile-card {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0 0 0 / 0.1);
    text-align: center;
    max-width: 400px;
    width: 90%;
    h1.title {
      font-size: 24px;
      font-weight: bold;
      color: #333;
      margin-bottom: 15px;
    }
    div.avatar img {
      width: 80px;
      height: 80px;
      border-radius: 50%;
      box-shadow: 0 2px 5px rgba(0 0 0 / 0.2);
    }
    p.info {
      font-size: 18px;
      color: #555;
      margin: 10px 0;
      text-align: start;
    }
    button.logout-btn,
    button.delete-btn {
      background-color: #ff8c38;
      color: white;
      display: inline-block;
      text-align: center;
      width: 100%;
      padding-block: 0.75rem;
      margin-block: 5px;
      font-size: 16px;
      border: none;
      border-radius: 5px;
      font-weight: 700;
      cursor: pointer;
      transition: transform 0.1s ease-in-out;
      &:hover {
        transform: translate(1px, 1px);
      }
    }
  }
}
/*** END PROFILE PAGE ***/

/*** START DASHBOARD PAGE ***/
section.host-dashboard-earnings {
  background-color: #ffead0;
  padding: 37px 26px;
  display: flex;
  justify-content: center;
  align-items: center;
  div.info {
    > h1 {
      font-size: 36px;
      color: #161616;
      margin: 0;
    }
    > p {
      color: #4d4d4d;
      > span {
        text-decoration: underline;
        font-weight: bold;
      }
    }
    > h2 {
      margin: 0;
      font-size: 38px;
      color: #161616;
      font-weight: 900;
    }
  }
  a {
    margin-bottom: 13px;
    margin-left: 5px;
  }
}
section.host-dashboard-reviews {
  background-color: #ffddb2;
  padding: 25px 26px;
  display: flex;
  align-items: center;
  > h2 {
    margin: 0;
  }
  > svg.star {
    color: #ff8c38;
    margin-left: 15px;
    font-size: 25px;
  }
  p {
    margin-left: 5px;
    font-size: 20px;
    color: #4d4d4d;
    margin-right: auto;
    span {
      font-weight: bold;
      color: #161616;
    }
  }
}
section.host-dashboard-vans {
  padding: 38px 26px;
  div.top {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  div.host-vans-list {
    padding-inline: 0;
    section {
      text-align: center;
    }
  }
}
/*** END DASHBOARD PAGE ***/

/*** START INCOME PAGE ***/
section.host-income {
  padding-inline: 26px;
  color: #161616;
  > p {
    color: #4d4d4d;
    span {
      text-decoration: underline;
      font-weight: bold;
    }
  }
  > h2 {
    font-size: 36px;
    color: #161616;
    font-weight: 900;
  }
  img.graph {
    width: 100%;
    max-width: 500px;
  }
  div.info-header {
    > p {
      color: #4d4d4d;
      span {
        text-decoration: underline;
        font-weight: bold;
      }
    }
    > h3 {
      font-weight: 700;
      font-size: 24px;
      margin-top: 60px;
    }
  }
  div.transaction {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    margin-bottom: 31px;
    padding: 35px 29px;
    border-radius: 6px;
    > h3 {
      font-size: 36px;
      font-weight: 600;
      margin: 0;
    }
    > p {
      font-size: 20px;
      font-weight: 500;
      color: #4d4d4d;
    }
  }
}
/*** END INCOME PAGE ***/

/*** START REVIEWS ***/
section.host-reviews {
  padding-inline: 26px;
  color: #161616;
  max-width: 500px;
  div.top-text {
    display: flex;
    align-items: center;
    margin-bottom: 32px;
    > h2 {
      font-weight: 700;
      font-size: 32px;
      margin: 0;
      margin-right: 20px;
    }
    > p {
      margin: 0;
      color: #4d4d4d;
      span {
        text-decoration: underline;
        font-weight: bold;
      }
    }
  }
  > img {
    margin-bottom: 36px;
    width: 100%;
    max-width: 500px;
  }
  div.review {
    margin-block: 25px;

    div.info {
      display: flex;
      p.name {
        color: #161616;
        margin-right: 10px;
        font-weight: 600;
      }
      p.date {
        color: #8c8c8c;
      }
    }
  }
  hr {
    background-color: #c7c7c7;
    height: 1px;
    border: 0;
  }
  svg.review-star {
    color: #ff8c38;
    margin-right: 5px;
  }
}
/*** END REVIEWS ***/
